body .el-table th.gutter {
    display: table-cell !important;
}

.el-table__expand-icon--expanded .el-icon-arrow-right {
    position: relative;
}

.el-table__expand-icon--expanded .el-icon-arrow-right::after {
    content: "";
    position: absolute;
    top: -130px;
    left: -30px;
    right: -22px;
    bottom: -18px;
}
.top-div{
    float: top;
    display: inline-block;
    position: relative;
    background-color: white;
    width: 100%;
    padding: 10px 2% 13px 2%;
    margin-bottom: 10px;
}
.el-switch__label--left ,.el-switch__label--right{
    margin-top: 5px;
}

[v-cloak] {
    display: none !important;
}
.cornsilk-bg{
    height: 40px;
    padding: 10px 0;
    background-color: cornsilk;
}
.right-div{
    float: right;
    display: inline-block;
    position: relative;
    width: 45%;
    background-color: white;
    padding-bottom: 50px;
    margin-left: 5%;
    height: 423px;
}
.remind-row {
    font-weight: normal;
    color: #6C757D;
    background: #f5f5f5;
}
.warning-row {
    font-weight: normal;
    background: red;
}

.left-div{
    float: left;
    background-color: white;
    display: inline-block;
    position: relative;
    padding-bottom: 50px;
    width: 45%;
    height: 423px;
    margin-right: 5%;
}


