.el-table__header th .cell {
    height: 34px !important;
    line-height: 34px !important;
}
[v-cloak] {
    display: none !important;
}
.el-table__header th{
    padding-left: 30px;
}

.el-table__body td {
    font-size: 14px;
    color: #1D2024;
    height: 60px;
    padding-left: 30px;
    padding-right: 10px;
}
.el-table__header th .el-checkbox {
    padding-top: 10px;
}

.el-range-editor--small.el-input__inner {
    height: 30px;
}

.el-date-editor .el-range-input::-webkit-input-placeholder { /* WebKit browsers */
    /*color: #6C757D !important;*/
}

.el-date-editor .el-range-input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    /*color: #6C757D !important;*/
}

.el-date-editor .el-range-input::placeholder {
    /*color: #6C757D !important;*/
}

.el-input--small .el-input__inner::placeholder {
    /*color: #6C757D !important;*/
}

.el-input--small .el-input__inner:-moz-placeholder {
    /*color: #6C757D !important;*/
}

.el-input--small .el-input__inner::-webkit-input-placeholder {
    /*color: #6C757D !important;*/
}

.el-input-group .el-input__inner::placeholder {
    /*color: #6C757D !important;*/
}

.el-input-group .el-input__inner:-moz-placeholder {
    /*color: #6C757D !important;*/
}

.el-input-group .el-input__inner::-webkit-input-placeholder {
    /*color: #6C757D !important;*/
}

.query.el-cascader .el-input .el-input__inner ::-webkit-input-placeholder {
    /*color: #6C757D !important;*/
}

.query.el-cascader .el-input .el-input__inner :-moz-placeholder {
    /*color: #6C757D !important;*/
}

.query .el-cascader .el-input .el-input__inner ::placeholder {
    /*color: #6C757D !important;*/
}


.el-button--small, .el-button--small.is-round {
    padding: 9px 15px;
    border: 0;
}

.el-table--border, .el-table--group {
    border-top-width: 3px;

}

.myPagination {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

body {
    margin: 0 !important;
    font-family: "Microsoft YaHei", serif !important;
}

html {
    background-color: #f8f9fb;
}

.myHr {
    margin-top: 0;
    margin-top: 10px;
    color: #D3D3D3;
    background-color: #D3D3D3;
    border-bottom: 0;
}

.myPaginationDiv {
    position: absolute;
    right: 96px;
    padding: 0;
    height: 50px;
}

.myTableDiv {
    border-radius: 10px;
    position: absolute;
    left: 30px;
    right: 30px;
    height: auto;
    box-shadow: 0 4px 11px 2px rgba(183, 183, 183, 0.46);
    background-color: #ffffff;
    margin-top: 10px;
}

table tr .el-table_1_column_1 {

    padding-left: 30px;

}

.el-table .cell, .el-table th div, .el-table--border td:first-child .cell, .el-table--border th:first-child .cell {
    padding-left: 0;
}

.el-table .cell, .el-table th div {
    padding-right: 0;
    overflow: hidden;
}

.el-table__header th {
    font-size: 14px;
    color: #1D2024;
    font-weight: bold;
    height: 60px;
}



.el-table .warning-row {
    background: #f5f5f5;
}

.el-table .success-row {
    background: #ffffff;
}

/*表格border-right不显示*/
.el-table--border td, .el-table--border th, .el-table__body-wrapper .el-table--border.is-scrolling-left ~ .el-table__fixed {
    border-right: 0 solid #EBEEF5;
}

.el-range-editor--small .el-range-input {
    font-size: 12px;
    color: #1D2024;
}

.el-range-editor--small .el-range-separator {
    line-height: 24px;
    font-size: 12px;
}

.el-date-editor .el-range-separator {
    padding: 0 5px;
    width: 5%;
    color: #1D2024;
}

/*.el-cascader .el-input .el-input__inner {*/
/*    !*font-size: 12px;*!*/
/*    text-overflow: ellipsis;*/
/*    !*color: #1D2024;*!*/
/*}*/

.el-input--small .el-input__inner {
    font-size: 12px;
    /*color: #1D2024;*/
    height: 30px;
    line-height: 30px;
}

.log-context {
    font-family: "Microsoft YaHei", serif !important;
    font-size: 16px;
}

[v-cloak] {
    display: none;
}

.el-breadcrumb {
    padding-left: 30px;
    margin-top: 20px;
}

.el-breadcrumb__inner a {
    color: #1D2024;
    font-weight: bold;
}

.el-breadcrumb__inner {
    color: #6c757d;
}

/*.el-popper[x-placement^=bottom] {*/

.is-left{
    width: 270px;
}
.el-table th>.cell {
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    vertical-align: middle;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
}
th td{
    padding-left: 10px;
}

/*时间选择器*/
.el-picker-panel{
    width: 323px;
}
.price-input{
    width: 83px;
}
.name-input{
    width: 100px;
}

.phone-input{
    width: 180px;
}
.choose-input{
    width: 206.5px;
}
.time-label{
    width: 138px;
    margin-right: 5px;
    display: inline-block;
    color: black;
}
.margin-left{
    margin-left: 20px;
}
/*防止闪烁*/
[v-cloak] {
    display: none !important;
}
textarea {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 0px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}
.button-model {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 35px;
    display: inline-block;
    line-height: 30px;
    border-radius: 16px;
    padding: 0 24px;
    font-size: 14px;
    color: #fff;
}

.input-button .el-input__inner {
    width: 180px;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    height: 40px;
    font-size: 14px;

}
body {
    margin: 0 !important;
    font-family: "Microsoft YaHei", serif !important;
    /*overflow: hidden!important;*/

}
.el-dialog__body{
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}
.form-hr{
    border-bottom: 1px solid #EBEEF5;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 25px;
}