<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ming.ls.modules.sys.dao.HangingAndServiceTypeDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ming.ls.modules.sys.entity.HangingPointAndServiceType">
    <result column="id" property="id" />
        <result column="service_type_id" property="serviceTypeId" />
        <result column="hanging_point_id" property="hangingPointId" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
        <result column="creator_id" property="creatorId" />
        <result column="editor_id" property="editorId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        service_type_id, hanging_point_id, created_at, updated_at, creator_id, editor_id
    </sql>

</mapper>
